*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
 

:root{
    --primary-color: #fff;
    --secondary-color:#cdd7de;
    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
}
h1,
h2,
h3,
h4,
h5{
    line-height: 1.2;
} 
h1{
    font-size:2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
body{
    font-family:'Poppins',sans-serif;
    /* opacity: .6; */
   background-color: rgb(211, 211, 211);
}
.container{
    width: var(--container-width-lg);
    margin:0 auto;
}
img{
    width: 100%;
    height: auto;
    object-fit:fill;
}
nav{
    width: 100%;
    height: 7rem;
    z-index: 1;
    position: sticky;
    /* position: fixed; */
    background: #fff
    
}
.inside-cart{
    display: none;
    transform:translateX(60%);
    transition: 1s;
    overflow-y: auto;
    width: 30%;
    position: absolute;
    opacity: 1;
    right: 21%;
    z-index: 11;
    height: 600px;
    background-color: rgb(7, 46, 65);
}
.cart-items{
    color: rgb(66, 62, 173);
    font-size: 2rem;
}
.mobile-wrapper img{
    position: relative;
}

.cart-info{
    display: flex;
    max-width: 100%;
}
.cart-info img{
    width: 20%;
}
.cart-data{
    display: flex;
    color: white;
    text-align: center;
}
.cart-data h3,h4{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: .6rem;
}
.cart-data p{
    cursor: pointer;
    font-size: 1rem;
}
.amount {
    display: flex;
    gap: .6rem;

}
.amount p{
    font-size:1.4rem;
}
.amount span{
    font-size: .6rem;
    cursor: pointer;
    color: white;
}
.nav__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.left h1{
    font-weight: 400;
}
.middle  ul{
    display: flex;
    gap: 2rem;
    
}
 
.middle ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
.hamburger-menu{
    display: none;
}
.close-menu{
    display: none;
}
.middle ul li a:hover{
    color: #cdd7de;
    transition: 300ms all ease;
}
.right{
    display: flex;
    gap: 1rem;
}
.loop {
    cursor: pointer;
    
}
/* Chrome, Safari, Edge */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

/* Firefox */
input[type="search"]::-moz-search-clear {
    display: none;
}
.inside-search{

    display: none;
}
.search{
    display: flex;
    gap: 1rem;
}
#search{
     width: 300px;
     height: 20px;
     border: 2px solid gray;
     display: none;
}
#search:focus {
    border-color: rgb(101, 101, 138); /* Promena boje ivice na fokus */
    outline: none;  
}
.cart-icon{
    cursor: pointer;
}
.cart-info {
    display: flex;
    justify-content: space-around;
    
}
.data-item{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
 
.cart-data{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
}
.cart-item p,span{
    flex-direction: column;
}
.cart-items {
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}
 
 .all-price  {
     
    color: rgb(42, 205, 27);
    width: 100%;
}

 
.inside-cart{
    display: none;
    transition: 1s;
    overflow-y: auto;
    width: 600px;
    position: absolute;
    opacity: 1;
    top: 0;
    right: 20%;
    z-index: 21;
    height: 900px;
    background-color: rgba(7, 46, 65, 0.475);
}
.middle ul li{
    list-style: none;
   }

.close-btn{
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: #fff;
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    cursor: pointer;
}

.mobile-title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin-top: 2rem;
}
.mobile-wrapper{
    display: grid;
    margin-top: 4rem;
    gap: 4rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 
.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
 

#price{
    text-align: center;
    font-size: 1.2rem;
}
 .mob-info {
    display: flex;
    flex-direction: column;
 }
.add-to-cart{
    opacity: .8;
    border: none;
    padding: .6rem;
    cursor: pointer;
    background-color: rgb(87, 80, 80);
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: .4rem;
}

.watch-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.watch-info {
    text-align: center;
}

footer{
    margin-top: 10rem;
    background-color: rgb(45, 45, 45);
}
.footer-container{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr))
}
 
 .footer-first{
    text-align: center;
 }
.footer-first a{
    color: white;
    text-decoration: none;
     font-size: 2rem;
      
}
.footer-second{
    text-align: center;
}
.footer-second h3{
    color: white;
    font-weight: 400;
    
}
.footer-second ul li a {
    text-decoration: none;
    color: white;
   
}
.footer-second ul {
    list-style: none;
}
 .footer-third{
    text-align: center;
 }
.footer-third h3{
    color: white;
    font-weight: 400;
}

.footer-third span{
    color: whitesmoke;
}
.footer-third p{
    color: gray;
}
.footer-forth{
    text-align: center;
    
}
.footer-forth h3{
    color: white;
    font-weight: 400;
}
.footer-forth span{
    color: blue;
    font-size: 1.3rem;
    cursor: pointer;
}


@media screen and (max-width:1440px) {
    .inside-cart{
       right: 25%;
    }
}
 @media screen and (max-width:768px) {
    .container{
        width: var(--container-width-md);
    }
    .mob-info img{
        width: 400px;
        margin: 0 auto;
    }
    .info p{
        font-size: 1.6rem;
    }
    .watch-info{
        grid-template-columns: repear(1,4fr);
    }
 }


 @media screen and (max-width:425px) {
    .container{
        width: var(--container-width-sm);
    }
    .hamburger-menu{
        display: block;
        position: relative;
    }
    .middle{
        align-items: center;
    }
    .mob-info img{
        width: 50%;
    }
    .info p{
        font-size: 1.3rem;
    }
    .inside-search{
       left: 0;
       top: 0;
       z-index: 11;
       position: absolute;
        width: 425px;
        height: 800px;
        background-color: rgba(65, 65, 189, 0.387);
 
    }
    .inside-search h2{
        color: #ffffff;
        text-align: center;
        margin-top: 4rem;
    }
    .inside-cart{
        width: 425px;
        right: 64%;
    }
    #search{
        padding: .9rem 8rem;
        border: none;
        border-radius: 10px;
        position: absolute;
        top: 100%; 
        left: 15%; 
        margin-top: 4rem;
        padding-left: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    .middle ul{
        top: 0;
        width: 425px;
        height: 800px;
        color: #ffffff;
        gap: .7rem;
        padding-top: 2rem;
        right: 0%;
        position: absolute;
        align-items: center;
        display: none;
        background-color: rgba(82, 82, 186, 0.597);
        text-align: center;
 
    }
    .close-search{
        background-color: transparent;
        color: #ffffff;
        font-size: 1.5rem;
        margin-left: 1.2rem;
        margin-top: 1.2rem;
    }
   .middle ul li a {
    color: #ffffff;
    font-size: 1.6rem;
   }
   .close-menu{
    display: block;
    background-color: transparent;
    font-size: 1.4rem;
    color: #ffffff;
   }
 }
 @media screen and (max-width:375px) {
    .mobile-title h1{
        font-size: 1.8rem;
        font-weight: 400;
    }
    .middle ul{
        width: 375px;
    }
    .inside-search{
        width: 375px;
    }
   #search{
     left: 10%;
   }
 }
 @media screen and (max-width:320px) {
    .inside-search{
        width: 320px;
    }
    #search{
        padding: .8rem .1rem;
       left: 3%;
      }
      .inside-cart{
        width: 320px;
        right: 60%;
        flex-direction: column;
      }
      .middle ul{
        width: 320px;
      }
 }