*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 80%;
 }
.footer{
    height: 250px;
    margin: 0 auto;
    background-color: #401944;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 2rem;
     align-items: center;
}
.footer-1{
    display: flex;
    align-items: center;
    gap:1rem;
}
.footer-1 h1{
    color: var(--white);
}
.footer-1 img{
    width: 20%;
}
.footer-2 h2{
    color: var(--white);
    padding-bottom: .6rem;
}
 
.footer-2 ul li {
    list-style: none;
   
}
.footer-2 li a{
    text-decoration: none;
    color: var(--white);
}
 .icon span{
    color: var(--white);
    padding-top: 2rem;
    font-size: 20px;
 }
 .footer-3 h2{
    color: var(--white);
    padding-bottom: .6rem;
}
.footer-3 ul li{
    display: flex;
    flex-direction: column;
    
}
.footer-3 ul li a {
    text-decoration: none;
    color: var(--white);

}
 .footer-3 h2{
    color: var(--white);
    padding-bottom: .6rem;
 }
.copy{
padding-top: 20px;
display: flex;
cursor: pointer;
gap: .4rem;
align-items: center;
}
.icon span:hover{
    color: #6e3375;
    transition: 600ms all ease;
}

@media screen and (max-width:1024px) {
    .footer-container{
        gap:1%;
    }
    .footer-1 h1{
        font-size: 18px;
    }
}
@media screen and (max-width:768px){
    .footer-container {
        gap: 12%;
    }
    .footer-1 img {
        width: 48%;
    }
    .footer-1 h1 {
        font-size: 23px;
    }
    
}
@media screen and (max-width:425px){
    .container{
        width: 90%;
    }
   .footer{
        height: 100%;
    }
    .footer-container {
        gap: 3.6rem;
        grid-template-columns: 1fr;
        gap: 0.4rem;
        
    }
    .footer-1{
        justify-content: center;
        margin-bottom: 1rem;
    }
    .footer-1 img {
        width: 10%;
    }
    .footer-1 h1 {
        font-size: 24px;
    }
    .footer-1 {
        gap: .2rem;
    }
}