*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
html,body{
    overflow-x: hidden;
 
}
:root{
    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
}
body{
    font-family:'Poppins',sans-serif;
    line-height: 1.7;
    background-color: #272757
    
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5{
    line-height: 1.2;
} 
h1{
    font-size:2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

                                    /* Navigacija */

nav{
    /* background-color: red; */
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 8rem;
}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    text-transform: uppercase;
    font-weight: 400;
}

 .nav-right ul li:nth-child(4) a{
    padding: .4rem 2rem;
    background-color: orangered;
    border-radius: 4px;
    color: #ffffff;
 }
.nav-right ul li:nth-child(-n+3) a {
    color: #ffffff;
    font-weight:500;
}
 
.nav-right li a:hover{
    color: orangered;
    transition: 800ms all ease;
}
.nav-left h2{
    color: #C0C0C0
}

.hamburger{
    display: none;
}
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
 



                                                                /* Header */

header{
    min-height: 60vh;
}
.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 2rem; */
}
.hero-left h1{
    padding-bottom:2rem;
    text-align: left;
    color: #8686AC;
}
.hero-left p{
    text-align: left;
     color: #9b9898;
}
.hero-buttons{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;   
}
.hero-buttons button{
    padding: .9rem 2.2rem;
    cursor: pointer;
    border-radius: 6px;
}
.hero-buttons button:nth-child(1){
    background-color: rgb(65, 101, 173);
    color: #ffffff;
}
 
.hero-right img{
    position: relative;
    width: 100%;
}
.pseudo{
    position: absolute;
    background-color: rgb(0, 57, 171);
    top: 30%;
    border-bottom-left-radius:60%;
    right: 0%;
    z-index: -1;
    width: 550px;
    height: 400px;
}
.hidden{
    opacity: 0;
    transform: translateY(0%);
    
}
.show{
    opacity: 1;
    transform: translateY(40%);
    transition: 2s;
}




                                                        /* Features */
.feature__container{
    min-height: 100vh;
    width: 100%;
    margin-top: 12rem;
}
.feature__container h2{
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: #8686AC;
}
.feature__container p{
    text-align: center;
    color: #C0C0C0;
}
.buttons{
    color: #C0C0C0;
    cursor: pointer;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.buttons .toggle-btn:hover{
    color: orangered;
    transition: 800ms all ease;
}
 .content{
    display: none;
    margin-top: 8rem;
 }
 .content p{
    width: 500px;
    color: gray;
 }
 .showing h2{
    color: #8686AC;
 }
 .showing{
    display: flex;
    justify-content: center;
    gap: 6rem;
    /* align-items: center; */
     
 }.img-slide img {
    width: 100%;        
    height: auto;      
    object-fit: contain; 
    max-width: 100%;     
    max-height: 400px;  
    margin: 0 auto;      
}

 
 .text{
    text-align: left;
    margin-top: 4rem;
    
 }


                                                                                /* Extension */
.extension__container{
    text-align: center;
    min-height: 100vh;
    
}
.extension__container h2{
    font-weight: 400;
    color: #8686AC;
    margin-bottom: 1rem;
}
.extension__container p{
    color: #8686AC;
    margin-bottom: 8rem;
}
.cards{
    display: flex;
    gap: 4rem;
    justify-content: center;
    grid-auto-rows: auto;
    margin-left: 2rem;
}
.card-1:hover{
    margin-top: -1rem;
    transition: 600ms all ease;
    
}
.card-2:hover{
    margin-top: -1rem;
    transition: 600ms all ease;
}
.card-3:hover{
    margin-top: -1rem;
    transition: 600ms all ease;
}
.cards img{
 
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cards h4{
    padding-top: 5rem;
    font-weight: 500;
    color: #ffffff;
}
.card-1,.card-2,.card-3{
     background-color: #434376;
    border-radius: 8px;
    border: 1px solid transparent;
    padding-top: 2rem;
    width: 20rem;
    min-height: 30rem;
}
.card-1 img{
    width: 100px;
    height: 80px;
}
.card-2 img{
    width: 100px;
    height: 80px;
}
.card-3 img{
    width: 100px;
    height: 80px;
}
.cards button{
    background-color: rgb(72, 100, 137);
    padding: 1rem;
    color: white;
    cursor: pointer;
}
.cards button:hover{
    background-color: white;
    color: rgb(72, 100, 137);
    transition: 600ms all ease;
}

 
                                                                    /* Faq */
.faq__container{
    text-align: center;
    min-height: 60vh;
}
.faq h2{
    font-weight: 400;
    margin-bottom: 1rem;
    color: #8686AC;
}
.faq p {
    color: #8686AC;
    margin-bottom: 2rem;
}
 


 
.question{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    max-width:55%;
    margin: 0 auto;
    margin-bottom: 1rem;
    cursor: pointer;
} 
.question{
    background-color: #272757;
    display: flex;
    justify-content: space-between;
    
}
 
.question h4{
    margin-left: 1rem;
}
.question .plus{
    margin-right: 1rem;
}
 
.answer{
    display: none;
    
}

.answer p{
    color:gray;
    max-width: 600px;
    color: #ffffff;
}
 

.show-answer .minus{
    color: blue;
    margin-left: 3rem;
    font-size: 1.2rem;
    
}
.show-answer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 8rem; */
}
                                                                /* Finish */
section.finish{
    background-color: #434376;
}
.finish__container{
    padding: 3rem;
    text-align: center;
    min-height: 30vh;
    
}
.finish__container h5{
    color: wheat;
    margin-bottom: 1rem;
}
.finish__container h2{
    color: white;
    margin-bottom: 1rem;

}
 
.inputs input{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .4rem;
}
.inputs button{
    background-color: orangered;
    color: white;
    padding: .5rem;
    cursor: pointer;
}
.inputs .flex-input {
    display: flex;
    gap: 1rem;
    justify-content: center
}
 .click{
    background-color: orangered;
    color: #ffffff;
 }
.warning p{
    color: red;
    margin-top: .4rem
    
}
 
                                                                        /* Footer */
footer{
    background-color: #272757;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}
.footer__container h2{
    color: #C0C0C0
}
.left-footer{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.left-footer h2{
    color: white;
    font-weight: 500;
}
.left-footer ul {
    display: flex;
    gap: 2rem;
}
.left-footer ul li a {
    color: white;
}
.footer-right{
    display: flex;
    color: white;
    gap: 1.8rem;
    font-size: 1.5rem;
}
                                                                        /* Media queries */
@media only screen and (min-width:2560px){
    .content{
        max-width: 40%;
        margin: 10rem auto;
    }
}
                                                                        /* Laptops */
                                                                        
@media only screen and (max-width: 1440px){
    .container{
        width: var(--container-width-lg);
    }
    .feature__container{
        height: 130vh;
    }
    .extension__container{
        height: 130vh;
    }
    .finish__container{
        height: 40vh;
    }
    .finish__container h2{
        font-size: 1.2rem;
    }
    .warning p{
        margin-top: 0;
    }

}
@media only screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: 1rem;
    }
                /* Header */
    header{
        min-height:60vh ;
    }
    .hidden{
        opacity: 0;
        transform: translateY(0%);
        
    }
    .show{
        opacity: 1;
        transform: translateY(40%);
        transition: 2s;
    }
                /* Features */
.feature__container{
    height: 50vh;
}
    
            /* Cards */
    .extension__container{
        height: 150vh;
    }
    .cards{
        grid-template-columns: repeat(3,1fr);
         justify-content: center;
        align-items: center;
    }
    .card-1,.card-2,.card-3{
        width: 15rem;
    }
                                /* Faq */
    .faq__container{
        min-height: 50vh;
    }
    .answer p{
        text-align: center;
        max-width: 40%;
        margin-left: 2rem;
    }
                            /* Last section */

    .finish__container{
        min-height: 20vh;
    }
    .inputs{
        right: 35%;
    }
    .paragraph{
        position: relative;
        right: 5%;
    }
}
 

@media screen and (max-width:768px) {
    .hamburger{
        display: flex;
        position: relative;
    }
   .list{
     position: absolute;
     right: 0%;
     top: 0;
     width: 100%;
     max-width: 400px;
     height: 768px;
     background-color: #434376be;
     justify-content: center;
     transform: translateX(100%);  
     opacity: 0;
     transition: transform 0.3s ease, opacity 0.3s ease;
   }
  .active {
    transform: translateX(0);
    opacity: 1;
  }
    #close-btn{
     background-color: transparent;
     color: #ffffff;
     font-size: 1rem;
   }
   .list ul{
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;
   }
   .hero__container{
    gap: 3rem;
   }
 .hero-right img{
    width: 350px;
 }
 .hero-left h1{
    font-size: 1.8rem;
 }
 .hero-buttons button{
    padding: .4rem 1.6rem;
 }
 .pseudo{
   background-color: transparent;
 }
 .feature__container {
  margin-bottom: 10rem;
 }
 .feature__container p{
    font-size: .9rem;
 
 }
 .content {
    flex-direction: column-reverse;
 }
 .content .img-slide img{
    width: 400px;
 }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .extension__container{
    height: 250vh;
  }
  .cards{
flex-direction: column;
  }
 
  .card-1 ,.card-2, .card-3{
    width: 300px;
  }
  .answer p{
    font-size: .9rem;
    margin: 0 auto;
    max-width: 350px;
  }
}
@media screen and (max-width:425px) {
    .container{
        width: var(--container-width-sm);
    }
    header{
        height: 90vh;
    } 
    .hero__container{
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-left h1{
        text-align: center;

    }
    .hero-left p{
        text-align: center;
    }
    .hero-left button{
        justify-content: center;
        align-items: center;
    }
    .hero-buttons {
        justify-content: center;
    }
    .show{
        opacity: 1;
        transform: translateY(20%);
        transition: 2s;
    }
    .feature__container{
        height: 110vh;
    }
    .img-slide img{
        max-height: 250px;
    }
    .text p{
        width: 400px;
    }
    .content{
        margin-top: 1rem;
    }
    .faq h2{
        font-size: 1.2rem;
    }
    .faq p{
        font-size: .9rem;
        text-align: center;
    }
    .question{
        max-width: 400px;
    }
    .flex-input .click{
         margin-top: .7rem;
    }
    .footer__container{
        flex-direction: column;
    }
    .footer__container h2{
        margin-bottom: .7rem;
        margin-top: .7rem;
    }
    .left-footer ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: .5rem;
    }
    .footer-right{
        margin-top: .5rem;
    }
}

@media screen and (max-width:375px) {
    .toggle-btn{
        font-size: .9rem;
    }
    .text p{
        width: 350px;
    }
    .img-slide img{
        height: 200px;
    }
    .cards{
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .question h4{
        font-size: .9rem;
    }
    .answer p{
        font-size: .8rem;
    }
    .finish__container h2{
        font-size: 1rem;
    }
    .finish__container h5{
        font-size: .9rem;
    }
}
@media screen and (max-width:320px) {
    .nav-left h2{
        font-size: 1.2rem;
    }
    header{
        height: 70vh;
    }
    .hero-left h1{
        font-size: 1.4rem;
    }
    .hero-left p{
        font-size: .9rem;
    }
    .hero-buttons{
        padding: .5rem 1rem;
    }
    .hero-right img{
        width: 300px;
    }
    .toggle-btn{
        font-size: .8rem;
        
    }
    .buttons{
        gap: .4rem;
    }
    .text h2{
        font-size: 1.3rem;
    }
    .text p{
    width: 300px;
    font-size: .9rem;
    }
    .img-slide img{
        height: 150px;
    }
    .extension__container h2{
        font-size: 1.4rem;
    }
    .extension__container p{
        font-size: .9rem;
    }
    .card-1,.card-2,.card-3{
        width: 250px;
    }
    .card-1 button, .card-2 button , .card-3 button {
        padding: .5rem 1rem;
    }
    .question h4 {
        font-size:.7rem ;
    }
}
 