*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
:root{
    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
}
body{
    font-family:'Poppins',sans-serif;
    line-height: 1.7;
    background-color: white;
    
}
.container{
    width: var(--container-width-lg);
    
   
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5{
    line-height: 1.2;
} 
h1{
    font-size:2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

                                    /* Navigacija */

nav{
    /* background-color: red; */
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100vw;
    height: 8rem;
}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right ul{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav-right ul li a {
    color: black;
}
.nav-right li a:hover{
    color: orangered;
    transition: 800ms all ease;
}
.nav-left h1{
    color: rgb(94, 118, 198);
    font-weight: 500;
}
.hamburger{
    display: none;
}
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
 



                                                                /* Header */

header{
    min-height: 60vh;
}
.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 2rem; */
}
.hero-left h1{
    padding-bottom:2rem;
    text-align: center;
}
.hero-left p{
    text-align: center;
    color: gray;
}
.hidden{
    opacity: 0;
    transform: translateY(0%);
    
}
.show{
    opacity: 1;
    transform: translateY(40%);
    transition: 2s;
}



                                                        /* Features */
.feature__container{
    min-height: 100vh;
    width: 100%;
    margin-top: 12rem;
}
.feature__container h2{
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 400;
}
.feature__container p{
    text-align: center;
    color: gray;
}
.buttons{
    color: gray;
    cursor: pointer;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.buttons .toggle-btn:hover{
    color: orangered;
    transition: 800ms all ease;
}
 .content{
    display: none;
    margin-top: 8rem;
 }
 
 .showing{
    display: flex;
    justify-content: center;
    /* align-items: center; */
     
 }.img-slide img {
    width: 100%;        /* Slika zauzima celu širinu svog kontejnera */
    height: auto;       /* Visina se automatski prilagođava u odnosu na širinu */
    object-fit: contain;/* Slika se prilagođava unutar svog okvira bez izobličenja */
    max-width: 100%;    /* Osigurava da slike ne prelaze širinu kontejnera */
    max-height: 400px;  /* Možete postaviti maksimalnu visinu slika, promenite prema potrebi */
    margin: 0 auto;     /* Centriranje slike unutar njenog kontejnera */
}

 
 .text{
    text-align: left;
     
    
 }


                                                                                /* Extension */
.extension__container{
    text-align: center;
    min-height: 100vh;
    
}
.extension__container h2{
    font-weight: 400;
    margin-bottom: 1rem;
}
.extension__container p{
    color: gray;
    margin-bottom: 8rem;
}
.cards{
    display: flex;
    gap: 4rem;
    justify-content: center;
    grid-auto-rows: auto;
    margin-left: 2rem;
}
.card-1:hover{
    margin-top: -1rem;
    transition: 600ms all ease;
}
.card-2:hover{
    margin-top: -1rem;
    transition: 600ms all ease;
}
.card-3:hover{
    margin-top: -1rem;
    transition: 600ms all ease;
}
.cards img{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cards h4{
    padding-top: 5rem;
    font-weight: 500;
}
.card-1,.card-2,.card-3{
    box-shadow: 3px 3px rgb(158, 158, 158), -1em 0 .4em rgb(143, 143, 143);
    border: 1px solid transparent;
    padding-top: 2rem;
    width: 20rem;
    min-height: 30rem;
}
.cards button{
    background-color: rgb(72, 100, 137);
    padding: 1rem;
    color: white;
    cursor: pointer;
}
.cards button:hover{
    background-color: white;
    color: rgb(72, 100, 137);
    transition: 600ms all ease;
}

 
                                                                    /* Faq */
.faq__container{
    text-align: center;
    min-height: 60vh;
}
.faq h2{
    font-weight: 400;
    margin-bottom: 1rem;
}
.faq p {
    color: gray;
    margin-bottom: 2rem;
}
 


 
.question{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    max-width:55%;
    margin: 0 auto;
    margin-bottom: 1rem;
    cursor: pointer;
} 
.question{
    background-color: rgb(31, 74, 130);
    display: flex;
    justify-content: space-between;
    
}
 
.question h4{
    margin-left: 1rem;
}
.question .plus{
    margin-right: 1rem;
}
 
.answer{
    display: none;
    
}

.answer p{
    color:gray;
    max-width: 600px;
    
}
 

.show-answer .minus{
    color: blue;
    margin-left: 3rem;
    font-size: 1.2rem;
    
}
.show-answer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 8rem; */
}
                                                                /* Finish */
section.finish{
    background: rgb(31, 74, 130);
}
.finish__container{
    padding: 3rem;
    text-align: center;
    min-height: 30vh;
    
}
.finish__container h5{
    color: wheat;
    margin-bottom: 1rem;
}
.finish__container h2{
    color: white;
    margin-bottom: 1rem;

}
 
.inputs input{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .4rem;
}
.inputs button{
    background-color: orangered;
    color: white;
    padding: .5rem;
    cursor: pointer;
}
.inputs .flex-input {
    display: flex;
    justify-content: center;
}
 
.warning p{
    color: red;
    margin-top: .4rem
    
}
 
                                                                        /* Footer */
footer{
    background-color: rgb(6, 31, 63);
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}
.left-footer{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.left-footer h2{
    color: white;
    font-weight: 500;
}
.left-footer ul {
    display: flex;
    gap: 2rem;
}
.left-footer ul li a {
    color: white;
}
.footer-right{
    display: flex;
    color: white;
    gap: 1.8rem;
    font-size: 1.5rem;
}
                                                                        /* Media queries */
@media only screen and (min-width:2560px){
    .content{
        max-width: 40%;
        margin: 10rem auto;
    }
}
                                                                        /* Laptops */
                                                                        
@media only screen and (max-width: 1440px){
    .container{
        width: var(--container-width-lg);
    }
    .feature__container{
        height: 130vh;
    }
    .extension__container{
        height: 130vh;
    }
    .finish__container{
        height: 40vh;
    }
    .finish__container h2{
        font-size: 1.2rem;
    }
    .warning p{
        margin-top: 0;
    }

}
@media only screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: 1rem;
    }
                /* Header */
    header{
        min-height:60vh ;
    }
    .hidden{
        opacity: 0;
        transform: translateY(0%);
        
    }
    .show{
        opacity: 1;
        transform: translateY(40%);
        transition: 2s;
    }
                /* Features */

    
            /* Cards */
    .extension__container{
        height: 150vh;
    }
    .cards{
        grid-template-columns: repeat(3,1fr);
         justify-content: center;
        align-items: center;
    }
    .card-1,.card-2,.card-3{
        width: 15rem;
    }
                                /* Faq */
    .faq__container{
        min-height: 50vh;
    }
    .answer p{
        text-align: center;
        max-width: 40%;
        margin-left: 2rem;
    }
                            /* Last section */

    .finish__container{
        min-height: 20vh;
    }
    .inputs{
        right: 35%;
    }
    .paragraph{
        position: relative;
        right: 5%;
    }
}
@media only screen and (max-width: 900px) {
    .inputs{
        right: 32%;
    }
}
@media only screen and (max-width: 950px) {
    .inputs{
        right: 34%;
    }
}
@media only screen and (max-width: 850px) {
    .inputs{
        right: 32%;
    }
}

                                                    /* Mobile */
@media only screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
    }
    .nav__container{
        display: block;
        
    }
    .nav-left h1 {
        margin-top: 0.2rem;
        text-align: center;
    }
    .list {
        background-color: rgb(31, 74, 130);
        display:none;
        justify-content: left;
        margin-top: 1rem;
        margin-left: -1rem;
        width: 300px;
        line-height: 1.1;
       height: 80vh;
       /* align-items: center; */
        z-index: 21;
        border-radius: 4px;
        position: relative;
    }
    .list ul {
        display: flex;
        flex-direction: column; 
        gap: 1rem;  
        padding: 1rem;  
        background-color: rgb(31, 74, 130);  
        border-radius: 0.5rem; 
        
    }
    
    
    
    .list ul li {
        width: 100%; /* Da zauzmu celu širinu */
        text-align: center; /* Poravnanje teksta u sredinu */
    }
    
    .list ul li a {
        color: white;
    }
    .hamburger {
        display: flex;
        justify-content: right;
        cursor: pointer;
        
        
    }
    #close-menu-btn {
        display: none; /* Sakrij dugme prema defaultu */
        position: absolute;
        /* bottom: 340px; */
        top: 50%;
        right: 32%;
        font-size: 1.6rem;
        background: transparent;
        color: rgb(141, 1, 1);
        z-index: 21;
    }
    .menu-open #close-menu-btn {
        display: block; /* Prikaži dugme kada je meni otvoren */
    }
                        /* Features */
    .feature__container{
        height: 50vh;
        
    }
    .img-slide img{
        max-height: 200px;
    }
    .text{
        margin-bottom: 2rem;
    }
    .text h2{
        
        font-size: 1.2rem;
    }
    .text p{
        font-size: .5rem;
    }
                    /* Cards */
    .extension__container{
        height: 300vh;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
       
    }
                    /* Finish */
    .finish__container{
        position: relative;
        width: 100%;
    }
     .finish__container h5{
        font-size: .6rem;
        margin-top: -1.2rem;
     }
     .finish__container h2{
        font-size: 1rem;
     }
     .inputs{
        right: 15%;
     }
     .inputs input{
        width: 60%;
     }
                /* Footer */
     .left-footer h2{
        font-size: .8rem;
     }
     .left-footer ul li a {
        color: white;
        font-size: .6rem;
        align-items: center;
    }
}
@media only screen and (max-width:400px){
    .container{
        width: var(--container-width-sm);
    }
     .footer-right {
        display: none;
    }
    #close-menu-btn {
        display: none; /* Sakrij dugme prema defaultu */
        position: absolute;
        /* bottom: 340px; */
        top: 50%;
        right: 25%;
        font-size: 1.6rem;
        background: transparent;
        color: rgb(141, 1, 1);
        z-index: 21;
    }
    .inputs{
        right: 10%;
    }
}
@media only screen and (max-width:320px){
    #close-menu-btn {
        display: none; /* Sakrij dugme prema defaultu */
        position: absolute;
        /* bottom: 340px; */
        top: 50%;
        right: 12%;
        font-size: 1.6rem;
        background: transparent;
        color: rgb(141, 1, 1);
        z-index: 21;
    }
    
    .buttons h5{
        font-size: .8rem;
    }
    .extension__container{
         min-height: 320vh;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 300px;
        height: 20px;
    }
}


 @media only screen and (min-width:2560px){
    .feature__container{
        width: 100%;
        
    }
    .cards{
        display: flex;
        justify-content: space-around;
    }
  
 }
 /* Finish */
