*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: blue;
}
.weather-app{
    margin: 5rem auto;
     display: flex;
     flex-direction: column;
     background: rgb(54,135,180);
     background: linear-gradient(343deg, rgba(54,135,180,1) 26%, rgba(128,94,212,1) 89%);
    max-width: 500px;
   height: 600px;
   border-radius: 10px;
}
.user-input{
    cursor: pointer;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.search{
    color: aliceblue;
    font-size: 25px;
}
input{
    border-radius: 4px;
    border-color: transparent;
    padding: 7px 60px;
}
input:focus{
    border-color: transparent;
}
.weather-icon{
    margin-top: 5rem;
    font-size: 4rem;
    
    color: rgb(54,135,180);
}
.information{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1rem;
}
.information p{
    font-size: 40px;
    font-weight: 600;
}
.information h2{
    font-size: 50px;
}
.weather-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-icon span{
    color: white;
    margin-top: 20px;
    font-size: 25px;
}
.spec-info span{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    font-size: 30px;
}